sudo: false
language: scala
jdk:
- oraclejdk7
cache:
  directories:
  - $HOME/.ivy2
  - $HOME/.m2
install:
- git clone https://github.com/CommBank/ci.git
- chmod ugo+x ci/*
- ci/sbt-setup.sh
- ci/sbt-setup-version.sh
script:
- sbt -Dsbt.global.base=$TRAVIS_BUILD_DIR/ci '; set fork in Test := false; test; package;
  assembly' && ci/sbt-deploy.sh && ci/sbt-gh-pages-ssh.sh
after_script:
- rm -rf ci
env:
  global:
    secure: Q15hB1HzA3snnmKZaErGwV3gjyA19EuDUIxA1Y8dcrLc876uMfizyPB3OTMJEzT4dh6Q0zeD21E13xdYm4oHqYS0KLbFR35hkx47vaJ5BL9cy0DT/alp6JmKT/B4/LrUJlEnjL0tqfHquDOq6X3rRJlinet9OR/qYCJmBLwgQk4=
before_install:
- openssl aes-256-cbc -K $encrypted_b4703176de36_key -iv $encrypted_b4703176de36_iv
  -in .travis/deploy-key.enc -out .travis/deploy-key.pem -d
